<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
      <title>Sign in</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
  </head>
  <body>
    <header class="d-flex justify-content-end pt-3 pb-0">
      <div class="dropdown px-5">
        <button th:text="#{lang.change}" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
        <ul class="dropdown-menu">
          <li><a th:text="#{lang.ru}" th:href="@{/login(lang=ru)}" class="dropdown-item" href="#"></a></li>
          <li><a th:text="#{lang.us}" th:href="@{/login(lang=us)}" class="dropdown-item" href="#"></a></li>
        </ul>
      </div>
    </header>
    <div class="container py-5 h-75">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-light" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <div class="mb-md-2 mt-md-2 pb-2">
                <form th:action="@{/login}" method="post">
                  <h2 th:text="#{signIn}" class="mb-5 text-uppercase"></h2>
                  <div class="form-light mb-4">
                    <p th:if="${param.error}" class="error" th:text="#{loginError}"></p>
                    <label for="username" class="visually-hidden">Username</label>
                    <input type="text" id="username" name="username" class="form-control form-control-lg" th:placeholder="#{username}" required/>
                  </div>                  
                  <div class="form-light mb-4">
                    <label for="password" class="visually-hidden">Password</label>
                    <input type="password" id="password" name="password" class="form-control form-control-lg" th:placeholder="#{password}" required/>
                  </div>
                  <button th:text="#{login}" class="btn btn-outline-light btn-lg px-5 mb-5" type="submit"></button><br/>
                  <p class="mb-1">
                    <span th:text="#{toSignUp}"></span>
                    <a th:text="#{signUp}" th:href="@{/register}" class="text-light fw-bold"></a>
                  </p>
                  <p class="small mb-0 pb-lg-2">
                    <a th:text="#{backToHome}" class="text-light" th:href="@{/}"></a>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>