<!DOCTYPE html>
<html lang="en">
  <head>
    <title th:text="#{newsManagement}"></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
  </head>
  <body>
    <header class="row pt-3 pb-0">
      <div class="col-3 px-5">
        <h1 th:text="#{newsManagement}"></h1>
      </div>
      <div class="col-3 offset-6">
        <div class="dropdown justify-content-end px-5">
          <button th:text="#{lang.change}" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
          <ul class="dropdown-menu">
            <li><a th:text="#{lang.ru}" th:href="@{/management(lang=ru)}" class="dropdown-item" href="#"></a></li>
            <li><a th:text="#{lang.us}" th:href="@{/management(lang=us)}" class="dropdown-item" href="#"></a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="row">
      <div class="col-2 d-flex flex-column py-1 mx-5 bg-light">
        <a th:text="#{newsList}" class="btn btn btn-dark mb-1" th:href="@{/management}"></a>
        <a th:text="#{newsAdd}" class="btn btn btn-dark mb-1" th:href="@{/management/add}"></a>
        <a th:text="#{backToHome}" class="btn btn-primary" th:href="@{/}"></a>
      </div>
      <div class="col-9">
        <div th:if="${error}" class="alert alert-danger" role="alert">
          <h4 th:text="#{emptyDeletionError}"></h4>
        </div>
        <form th:action="@{/management/delete}" th:object="${toDeleteForm}" method="post">
          <div class="card bg-light text-dark mb-2 mx-5" th:each="article: ${news}">
            <div class="card-body">
              <h5 class="px-4 card-title" th:text="${article.title}"></h5>
              <p class="card-text" th:text="${article.description}"></p>
              <div class="text-end">
                <p class="card-text" th:text="${#temporals.format(article.publishedAt, 'MM/dd/yyyy')}"></p>
                <a class="btn btn-primary" th:text="#{viewBtn}" th:href="@{/management/{id}(id=${article.articleId})}"></a>
                <a class="btn btn-primary" th:text="#{editBtn}" th:href="@{/management/edit/{id}(id=${article.articleId})}"></a>
                <input type="checkbox" th:field="${toDeleteForm.toDelete}" th:value="${article.articleId}">
              </div>
            </div>
          </div>
          <div class="text-end">
            <button th:text="#{deleteBtn}" class="btn btn-primary mx-5" type="submit"></button>
          </div>
        </form>
        <div class="row">
          <div class="col-2 offset-1">
            <a th:if="${page>0}" th:href="@{/management(page=${page-1})}" th:text="#{pagination.previous}" class="btn btn-dark border border-primary w-100 my-3 float-start" ></a>
          </div>
          <div class="col-2 offset-2">
            <a th:if="${page>0}" th:href="@{/management(page=0)}" th:text="#{pagination.toStart}" class="btn btn-dark border border-primary w-100 my-3" ></a>
          </div>
          <div class="col-2 offset-2">
            <a th:if="${#lists.size(news)==10}" th:href="@{/management(page=${page+1})}" th:text="#{pagination.next}" class="btn btn-dark border border-primary w-100 my-3" ></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>